# JupyterHub configuration
c.JupyterHub.bind_url = 'http://0.0.0.0:8000'  # Bind to all interfaces
c.JupyterHub.hub_ip = '127.0.0.1'  # Hub IP

# Built-in PAM Authenticator configuration (no extra import/package needed)
c.JupyterHub.authenticator_class = 'jupyterhub.auth.PAMAuthenticator'
c.PAMAuthenticator.service = 'login'  # Use the system's login service for PAM (leverages OS LDAP via PAM)
c.SystemdSpawner.extra_systemd_environment = {
    'PAM_TYPE': 'login'
}

# Optional: Additional PAM settings if needed (e.g., for session handling)
# c.PAMAuthenticator.open_sessions = False  # Disable opening PAM sessions (useful if causing issues)
# c.PAMAuthenticator.encoding = 'utf8'     # Encoding for PAM interactions

# Spawner settings (use systemdspawner for system users)
c.JupyterHub.spawner_class = 'systemdspawner.SystemdSpawner'
c.SystemdSpawner.mem_limit = '20G'  # Memory limit per user
c.SystemdSpawner.cpu_limit = 2.0  # CPU limit per user
# 2 CPUs per user is the max given that upto 14 users could be on one VM
# 20 GB RAM per user max - could go to 30-32 MAX.

# Path to Jupyter Notebook in Mamba environment
c.Spawner.cmd = ['/opt/miniforge3/envs/jupyterhub/bin/jupyterhub-singleuser']

## Additional ##
c.Authenticator.allow_all = True
